.mainTableHeader {
  background: var(--header-bg);

  .table-title-row {
    background: var(--header-title-bg);
    color: var(--header-text);

    th {
      border-bottom: 1px solid var(--header-border);
      padding: 0.75rem 1rem;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.75rem;
    }

  }

  .header-row {
    background: var(--header-row-bg);

    th {
      padding: 0.75rem 1rem;
      font-size: 0.75rem;
      font-weight: 500;
      text-transform: uppercase;
      color: var(--header-text);
      border-bottom: 1px solid var(--header-border);
    }
  }
}
